/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.like-icon .main-body {
    transition: fill 0.3s linear;
    fill: #ffffff;
}

.like-icon:hover .main-body {
    transition: fill 0.3s linear 0.05s;
    fill: #000000;
}

.like-icon:active .main-body {
    transition: fill 0.3s linear 0.05s;
    fill: #ff0000;
}

.like-icon.is-liked .main-body {
    transition: fill 0.3s linear 0.05s;
    fill: #ff0000;
}

.like-icon .sparks {
    opacity: 0;
}

.like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s 1 alternate;
}

.like-icon .heart {
    transform-origin: center;
}

.like-icon.is-liked .heart {
    animation: heart 0.3s ease-in 0.1s 1 alternate;
}

.like-icon .core {
    transition: fill 0.3s linear 0.03s;
    fill: #ffffff;
}

.like-icon:hover .core {
    transition: fill 0.3s linear;
    fill: #000000;
}

.like-icon:active .core {
    transition: fill 0.3s linear;
    fill: #ff0000;
}

.like-icon.is-liked .core {
    transition: fill 0.3s linear;
    fill: #ff0000;
}

.like-icon .contour {
    transition: fill 0.1s linear;
    fill: #000000;
}

.like-icon.is-liked .contour {
    transition: fill 0.3s linear 0.06s;
    fill: #ff0000;
}

@keyframes heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes arrow {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(4px);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}