/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  background-image: var(--background-image-page);
  background-color: var(--background-color-page);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__block {
  margin: 100px 0px;
  gap: 20px;
  padding: var(--header-padding);
  min-height: clamp(20.4375rem, 19.285rem + 4.913vw, 23rem);
  max-width: var(--main-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  border: var(--border-width) solid var(--border-color);
}
.header__name {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  text-align: center;
  font-family: var(--font-family-accent), fantasy;
}

.header__name-description {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  line-height: 1;
  text-align: center;
  font-family: var(--font-family-accent), fantasy;
}

.main__zone {
  gap: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  min-height: clamp(20.4375rem, 19.285rem + 4.913vw, 23rem);
  max-width: var(--main-width);
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  border: var(--border-width) solid var(--border-color);
}

.section__name {
  padding: 4px 10px 6px;
  font-size: var(--name-font-size);
  font-family: var(--font-family-main), sans-serif;
  font-weight: var(--bold-font-weight);
  z-index: 10;
  border: var(--border-width) solid var(--border-color);
}

.card__picture-element {
  overflow: hidden;
  position: relative;
}

.section__image {
  width: 100%;
  border: var(--border-width) solid var(--border-color);
}

.card__picture-word {
  right: 25px;
  top: 25px;
  text-shadow: 1px 0px 0px var(--background-color),
  -1px 0px 0px var(--background-color),
  0px 1px 0px var(--background-color),
  0px -1px 0px var(--background-color);
  position: absolute;
  mix-blend-mode: hard-light;
  color: var(--color-blck);
  line-height: normal;
  font-size: 14px;
  font-family: var(--font-family-accent), fantasy;
  opacity: 0.6;
  z-index: 2;
}


@supports (
  (-webkit-text-stroke: 1px var(--color-word-stroke)) or
  (text-stroke: 1px var(--color-word-stroke))
) {
  .card__picture-word {
    -webkit-text-stroke: 1px var(--color-word-stroke);
    text-stroke: 1px var(--color-word-stroke);
    text-shadow: none;
  }
}
.div__text {
  padding: 25px;
  gap: 27px;
  display: flex;
  flex-direction: column;
}

.box__text {
  line-height: 21px;
  font-size: var(--txt-font-size);
  font-weight: var(--txt-font-weight);
  font-family: var(--font-family-main), sans-serif;
}

.button__div {
  gap: 12px;
  padding: 0px 25px 25px clamp(11.0625rem, 10.169rem + 3.811vw, 31.375rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card__icon-button {
  inline-size: 38px;
  block-size: 38px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: border-color var(--transition-slow);
  cursor: pointer;
  border: var(--border-width-button) solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--txt-color);
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 10px 17px;
  position: relative;
  z-index: 1;
  font-family: var(--font-family-accent), sans-serif;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
  background: var(--background-color-page);
  border: var(--border-width) solid var(--txt-color);
}

.section:nth-child(2) .section__image {
	filter: grayscale(0.8);
}

.section:nth-child(3) .section__image {
	filter: saturate(160%);
}

.section:nth-child(4) .section__image {
	filter: hue-rotate(-310deg);
}

.section:nth-child(5) .section__image {
	filter: invert(100%) brightness(0.7);
}

.section:nth-child(6) .section__image {
	filter: sepia(100%);
}

.section:nth-child(7) .section__image {
	filter: blur(1rem);
}

.section:nth-child(8) .section__image {
	filter: hue-rotate(90deg) opacity(0.7) blur(0.2rem);
}

.save__section {
  margin-bottom: 100px;
}

.save__button {
  padding: 15px 21px 15px 19px;
  gap: 8px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: var(--font-family-accent), sans-serif;
  color: var(--button-text-color);
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--background-color);
  background: var(--background-color-page);
  border: var(--border-width) solid var(--txt-color);
}
.button__icon {
  block-size: 22px;
  inline-size: 22px;
}
.button__text {
  position: relative;
  z-index: 1;
  align-self: center;
}

.card__like-button:focus,
.save__button:focus,
.dialog__button:focus {
  box-shadow: 2px 2px 0px var(--color-blck);
  transition: box-shadow var(--transition-slow);
  outline: none;
}


.card__like-button:hover::before,
.save__button:hover::before,
.dialog__button:hover::before {
  transform: translateX(0);
}

.card__like-button:hover .button__text,
.save__button:hover .button__text,
.dialog__button:hover .button__text {
  transition: color var(--transition-fast);
  color: var(--background-color-page);
}

.card__like-button::before,
.save__button::before,
.dialog__button::before {
  content: "";
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  z-index: 0;
  inset: 0;
  background-color: var(--color-blck);
}

.dialog {
  gap: 30px;
  padding: 30px;
  max-inline-size: 355px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "icon main"
    "controll controll";
  transition: opacity var(--transition-slow), visibility var(--transition-slow);
  color: var(--txt-color);
  background: var(--background-color-page);
  opacity: 0;
  font-family: var(--font-family-accent), fantasy;
  line-height: 1.5;
  text-transform: uppercase;
  visibility: hidden;
  border: var(--border-width) solid var(--txt-color);
}
.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
  grid-area: icon;
  align-self: center;
}
.dialog__text {
  margin: 0;
  grid-area: main;
  justify-self: start;
  align-self: center;
  line-height: 1.5;
  font-size: 14px;
}

.dialog__control {
  grid-area: controll;
}

.dialog__button {
  padding: 10px 17px;
  inline-size: 100%;
  transition: 
    box-shadow var(--transition-slow),
    background-color var(--transition-fast);
  background: transparent;
  color: var(--txt-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
  font-family: var(--font-family-accent), sans-serif;
  height: 38px;
  text-transform: uppercase;
  border: var(--border-width) solid var(--color-blck);
}

.dialog__button:hover {
  color: var(--background-color-page);
  background: var(--txt-color);
}

.dialog[open] {
  visibility: visible;
  opacity: 1;
}

.dialog::backdrop {
  background: rgb(0 0 0 / 75%);
}

.like-icon {
  padding: 0px;

}
@media (width < 380px) {
  .save__button {
    flex-direction: column;
    align-items: center;
  }
}
