/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --header-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
    --header-padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) clamp(0.875rem, -5.0626rem + 25.333vw, 7.531rem);
    --main-width: clamp(23.1875rem, 16.035rem + 30.516vw, 43.75rem);
    --innr-padding: 0 clamp(1.25rem, 0.852rem + 1.696vw, 2.5rem);
    --color-blck: #000;
    --background-color: #FFF;
    --font-family-main: "Inter";
    --font-family-accent: "PressStart2P";
    --name-font-size: 18px;
    --standart-font-weight: 400;
    --bold-font-weight: 700;
    --name-font-weight: 785;
    --txt-font-weight: 400;
    --txt-color: #000;
    --txt-font-size: 18px;
    --color-word-stroke: var(--background-color, #FFF);
    --border-width: 2px;
    --border-width-button: 2px;
    --border-color: #000;
    --button-text-color: #000;

    --background-image-page:
          repeating-linear-gradient(
                  90deg,
                  #d3d3d3 0 2px,
                  transparent 2px 4px
          ),
          repeating-linear-gradient(
                  180deg,
                  #d3d3d3 0 2px,
                  transparent 2px 4px
          ),
          linear-gradient(
                  180deg,
                  #e7e7e7 0%,
                  #e7e7e7 0.01%,
                  #1a1a1a 100%
          );
    --background-color-page: #fff;
--transition-function: ease;
    --transition-fast: 0.2s ease;
    --transition-slow: 0.3s ease;
    --animation-time-transform: 0.3s;
}